*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.haeder-top{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:white;
    .logo{
        img{

        }
    }

    .navbar{
        button{
           position: absolute;
           right: 10px; 
           top: 0px;
        }
    }

    nav{
        width: 100%;

        ul{
            li{
                list-style: none;
                margin: 15px;
                a{
                    text-decoration: none;
                    color:rgb(48, 48, 48);
                  
                }
                a:hover{
                    color: rgb(197,77, 141)

                }
                .active{
                    color: rgb(197,77, 141)
                }
            }
        }
    }
}

#main-header{
    .background-image{
        .main-logo{
            img{
              width:200px;
              height: 200px;
              margin-top: 18%;
            }
        }
        .main-about{
            text-align: center;
            color: white;
            margin-top:2%;
            h1{
                font-size:48px;
            }
            p{
                font-size:20px;
            }  
        }
        width: 100%;
        height: 900px;
        background-attachment: fixed;
        background-image: url(../img/workspace-main.jpg)
    }
   
}

#main-computer{
    .computer-image{
        img{
        }
    }
    .computer-about{
        h1{
            font-weight: 300;
            font-size:34px;
            text-align: center;

        }
        p{
            font-size:18px;
            font-weight: 300;
        }
    }
}

#main-member{
    .member-card{
        .image{
            display:flex;
            justify-content: center;
            img{
                
            }
        }
    }

    .card-about{
        
        h3{
            text-align: center;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;

        }
        .member{
            font-weight: 100;
        }
        p{
            text-align: center;
            font-weight: 300;
        }
    }
}

#main-design{
    width: 100%;
    height: 800px;
    background-image: url("../img/workspace-sub.jpg");
    background-attachment: fixed;
    padding-top: 15%;
    .design-card{
        .image{
            display: flex;
            justify-content: center;
            img{
            }
        }
        .image-about{
            text-align: center;
            padding-top:5%;
            h5{
                font-size:24px;
                font-weight: 100;

            }
            p{
                font-size:18px;
                font-weight: 300;

            }
        }
    }
}

#footer-Contact{
    padding-top: 20%;
    width: 100%;
    height: 1000px;
    background-color: #000000;
    .footer-head{
        text-align: center;
        color: white;
       h1{
        font-weight: 100;
       }
    }
    .contact-left{
        color: white;
     
        .about{
            text-align: center;
            
            p{
                font-size:20px;
             
            }
            span{
                font-weight: 300;
                font-size:20px
            }
        }

        .socialmedia{
            ul{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        i{
                            color: white;
                            width: 30px;
                            height: 30px;
                            margin: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }
                        .fa-twitter{
                            background-color:#76CDEC;
                        }
                        .fa-facebook{
                            background-color:#527ABF;

                        }

                        .fa-linkedin{
                            background-color:#1C88CA;

                        }

                        .fa-google{
                            background-color:#282828;

                        }

                    }
                }
            }
        }
    }

    .contact-right{
        form{
            color: white;
            label{

            }
            input{
                width: 550px;
                height: 40px;
                border-radius: 6px;
                border: 1px solid black;
                padding-top:5%;
            }
            textarea{
                border-radius: 6px;
                border: 1px solid black;
            }
        }
    }
}


@media only screen and (min-width: 576px) {
    .navbar{
        display: block;
    }
    nav{
        display: none;
    }
  }

  
@media only screen and (min-width: 768px) {
    .navbar{
        display: none;
    }
    .navbar-two{
        display: block;
    }
  }